body{
    background-color: #0C130E;
}

header{
    width: 100%;
    overflow: hidden;
    background:#E6E6E6;
    margin-bottom: 20px;
    
}

.wrapper{
    width: 90%;
    max-width: 10000px;
    margin: auto;
    overflow: hidden;
    
}

div.contenido section img{
    float: right;
    
}

section{
    color: white;
}















