@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,500;1,200&display=swap');



body{
    font-family: 'Kanit', sans-serif;
    background-color: #0C130E;
    color: white;
}

header{
    width: 100%;
    background:#E6E6E6; 
    margin: auto;
    display: flex;
    
    
}

header.logo{
    float: left;
    
    
}


nav{
    text-align: right;
    display: flex;
    
}


nav a{
    text-decoration: none;
    color: black;
    padding: 30px 60px;
    margin: 20px
    
}




.contenido p{
    text-align: left;
}

.poster{
    float: left;
}

.sinopsis{

}