@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');
*{
    box-sizing: border-box; /*No crezcan mas alla del tamaño que le establecimos*/
}

h1{
    font-size: 3.0em;
    font-family: 'Acme', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 2.5em;
    font-family: 'Acme', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-size: 4.5em;
    font-family: 'Acme', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    color: white;
    background: #0C130E;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
   background: #E6E6E6; 
}

header .logo{
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo img{
    width: 300px;
}
header .container{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
header nav{
    flex-direction: row;
    padding-top: 10px;
    padding-right: 20px;
}
header nav{
    display: flex;
    
    align-items: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
header a:hover{
    color: red;
}


.casilla-prin{
    background: red;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}
#descripcion h1 {
    text-align: center;
}

/* Equipo izquierda*/

.cont-equipo-izquierda{
    display: flex;
    padding: 4vh;
    background-color: #1E1E1E;
    margin-top: 20px;  
    width: 100%; 
    align-items: center;
}

.sub-equipo-izquierda {
    margin-top: 15px;
}
.sub-equipo-izquierda h2 {
    padding-left: 30px;
    color: white;
}

.cont-sub-text-equipo-izquierda {
    width: 100%;
}
.texto-equipo-izquierda{
    width: 100%;
    margin: 0;
    padding-left: 30px;
    color: #fffdfb;
}

.imagen-equipo-izquierda{
    padding-right: 30px;
    padding-left: 30px;
}

/* Equipo derecha*/

.cont-equipo-derecha{
    display: flex;
    padding: 4vh;
    background-color: #404040;
    
    margin-top: 20px;  
    width: 100%;
    align-items: center; 
}

.sub-equipo-derecha {
    margin-top: 15px;
    
    
}

.sub-equipo-derecha h3 {
    text-align: center;
    color: white;
}

.cont-sub-text-equipo-derecha {
    width: 90%;
}
.texto-equipo-derecha{
    width: 100%;
    margin: 0;
    border-radius: 45px;
    color: #fffdfb;
}

.imagen-equipo-derecha{
    padding-right: 30px;
    padding-left: 30px;
}

.imagen-equipo-derecha img {
    object-fit: cover;
}


/*------------------------------Inicio-----------------------------*/

.container-inicio{
    max-width: 1000px;
    margin: auto;
}

/*Poster*/
.cont-poster{
    display: flex;
    background-color: #1E1E1E;
    margin-top: 20px;  
    width: 100%;
    align-items: center; 
}

.sub-poster {
    margin-top: 15px;
}
.sub-poster h2 {

    color: white;
}

.cont-sub-text-poster {
    width: 100%;
    margin: 100px;
}
.texto-poster{
    width: 100%;
    color: #fffdfb;
}

.imagen-poster img{
    width: 400px;
}

/*Trailer*/
.cont-trailer{
    display: flex;
    background-color: #1E1E1E;
    margin-top: 20px;
    align-items: center;  
}

.sub-trailer {
    margin-top: 15px;
}


.sub-trailer h2 {
    text-align: center;
    color: white;
}

.cont-sub-text-trailer {
    width: 100%;
    margin: 10px;

    
}
.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.trailer iframe{
    width: 854px;
    height: 480px;
}

/*----------------------------------------Episodios--------------------------------------*/

.container-episodios{
    max-width: 1400px;
    margin: auto;
}

.cont-episodios{
    display: flex;
    margin-top: 20px;  
    width: 100%;
    align-items: center; 
}

.sub-episodios {
    padding: 20px;
}
.sub-episodios h2 {
    color: white;
}

.cont-sub-text-episodios {
    width: 100%;
    background-color: #751616;
    border-radius: 100px;
    text-align: center;
    padding: 20px;
    

}

.mega-episodio{
    padding-top: 20px;
    margin: 20px;
    background-color: #361414;
    align-items: center;
    border-radius: 50px;

}

.mega-episodio iframe {
    width: 854px;
    height: 480px;
}
















